.frmCao {
    text-align: left;
    margin-top: 150px;
    margin-right: 400px;
    margin-left: 400px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    border: 2px solid black;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-size: 22px;
}
.debug{
    padding-top: 50px;
    color: red;
}
