.frmCao {
    text-align: left;
    margin-top: 25px;
    margin-right: 200px;
    margin-left: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    border: 2px solid black;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-size: 22px;
}
.debug{
    padding-top: 50px;
    color: red;
}

span{
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 15px;
}
input, select{
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 2px 2px;
    border-radius: 5px;
    font-size: larger;
    border: 2px solid black;
    
}


.categoria,
.saude{
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#lblBranca,
#lblAzul,
#lblAmarela,
#lblPreta,
#lblVacina,
#lblConsulta,
input[type=radio],
input[type=checkbox]{
    display: inline-flex;
    margin-bottom: 15px;   
}
#txtCodigo,
#txtNome,
#txtClinica{
    width: 85%;
}
input[type=buttoN]{
    background-color: darkslategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    padding: 10px 10px;
}

.mensagemErro{
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
    color: red;
}
input[type=button],
.botaoAcao {
    background-color: darkslategrey;
    border-radius: 5px;
    cursor: default;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;

}
.tabelaDados {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
table th {
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 10px;
    color: white;
    align: center;
}

table td {
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
}