.debug {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}

.formulario {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}


@media(min-width: 600px) {
    .formulario {
        width: 33%;
        margin-left: 33%;
        margin-top: 100px;
    }

}

@media(max-width: 600px) {
    .formulario {
        width: 90%;
        margin-left: 5%;
        margin-top: 70px;
    }

}

input {
    padding: 10px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: large;
    border-radius: 10px;
}

input[type=text] {
    width: 100%;
}

input[type=number] {
    width: 55%;
}

input[type=date] {
    width: 70%;
}

input[type=tel] {
    width: 70%;
}

label {
    margin-top: 18px;
    display:flex ;
}

.mensagemErro {
    color: red;
    font-size: 14px;
    position: relative;
    bottom: 8px;
}

select {
    width: 75%;
    padding: 12px 30px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 10px;
}

option {
    width: 75%;

    box-sizing: border-box;
    font-size: 16px;
    border-radius: 10px;
}

.jornada {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
.filhos {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}