.debug {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}

.formulario {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}


.tabelaDados {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

@media(min-width: 600px) {
    .formulario {
        width: 33%;
        margin-left: 33%;
        margin-top: 100px;
    }

    .tabelaDados {
        width: 60%;
        margin-left: 20%;
        margin-top: 100px;
    }
}

@media(max-width: 600px) {
    .formulario {
        width: 90%;
        margin-left: 5%;
        margin-top: 70px;
    }

    .tabelaDados {
        width: 90%;
        margin-left: 5%;
        margin-top: 70px;
    }
}

input {
    padding: 10px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: large;
    border-radius: 10px;
    width: 35%;
}

label {
    margin-top: 18px;
    display: flex;
}

.mensagemErro {
    color: red;
    font-size: 10px;
    position: relative;
    bottom: 8px;
}

select {
    width: 55%;
    padding: 5px 25px;
    margin: 1px 0;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 10px;
}

option {
    width: 55%;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 10px;
}

.jornada {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.filhos {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

#txtNome,
#txtEndereco,
#txtBairro,
#txtCidade,
#txtEmail {
    width: 100%;
}

#txtUF,
#txtNumero {
    width: 20%;
}

input[type=button],
.botaoAcao {
    background-color: cadetblue;
    border-radius: 10px;
    cursor: default;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
}

table th {
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

table td {
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
}