.debug {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}

.formulario {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}


.tabelaDados {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

@media(min-width: 600px) {
    .formulario {
        width: 33%;
        margin-left: 33%;
        margin-top: 100px;
    }

    .tabelaDados {
        width: 60%;
        margin-left: 20%;
        margin-top: 100px;
    }
}

@media(max-width: 600px) {
    .formulario {
        width: 90%;
        margin-left: 5%;
        margin-top: 70px;
    }

    .tabelaDados {
        width: 90%;
        margin-left: 5%;
        margin-top: 70px;
    }
}

.mensagemErro {
    color: red;
    font-size: 10px;
    position: relative;
    bottom: 8px;
}

select {
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 5px;
    border: 2px solid black;
}

option {
    width: 55%;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 5px;
}

.jornada {
    text-align: left;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.viagemEfilhos {
    text-align: left;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

input{
    padding: 5px;
    margin:10px ;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 5px;
    position: relative;
    
}
#txtNome,
#txtEndereco,
#txtBairro,
#txtCidade,
#txtEmail{
    width: 80%;
    left: 15px;
    margin-right: 50px;
}
#txtCEP{
    width: 18%;
}
#txtCPF,
#txtRG{
    width: 30%;
    left: 30px;
    
}
#txtTelefone{
    width: 25%;
}


input[type=button],
.botaoAcao {
    background-color: cadetblue;
    border-radius: 5px;
    cursor: default;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;
    
}

table th {
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

table td {
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
}

