.pista{
    
    padding: 1px;
    border-radius: 10px;
    height: 300px;
    width: 700px;
    margin: auto;
    background-color:dimgray;
    box-shadow:1px black
}

.tela{

    height:350px;
    width: 600px;
    background-color: darkslategray;
    border-radius: 5px;
}
.barra1{
    height: 90%;
    width: 70%;
    text-align: center;
    padding-left: 55px;
}
.barra2{
    height: 90%;
    width: 70%;
    text-align: center;
    padding-left: 2px;
    padding-top: 55px;
}