.topnav, .lateralnav{
    background-color: #0b427c;
    overflow: hidden;
}


.lateralnav a:hover{
    background-color: #098ea0;
    color: black
}

.lateralnav a.active{
    background-color: #098ea0;
    color: white;
}

.lateralnav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 62px;
    left: 0;
    z-index: 1;

}

.lateralnav a{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 17px;
    color:white;   
}

.usuario{
    display: inline-flex;
    color: white;
    font-size: larger;
    margin-left: 80%;
    
}