header{
    display: flex;
    justify-content: space-between;
    background-color: #7c5e99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

a{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;

}

a::before{
    content: "";
    display: inline-block;
    background-color:#f25a70; 
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#btDownload{
    display: inline-block;
    background-color: #f25a70;
    border-radius: 10px;
    box-shadow: 5px 5px 0 #000;
    padding: 18px 20px;
    margin-right: 0;

}
nav{
    text-align: right;
}
